{%- capture social_icons -%}
  {% if settings.behance_link != '' %}
    <li class="behance">
      <a href="{{ settings.behance_link }}" aria-label="{{ shop.name }} on Behance" rel="me" target="_blank">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.256 5.98599V4.86399H12.746V5.98599H17.256Z" fill="currentColor"/>
        <path d="M8.452 9.59999C8.77649 9.44757 9.06641 9.23047 9.304 8.96199C9.6678 8.49208 9.85153 7.90754 9.822 7.31399C9.83914 6.70259 9.65968 6.10182 9.31 5.59999C8.738 4.82133 7.768 4.42133 6.4 4.39999H1V15.6H6.044C6.57516 15.6039 7.1053 15.5529 7.626 15.448C8.05124 15.3647 8.45413 15.1927 8.8084 14.9432C9.16267 14.6937 9.46035 14.3723 9.682 14C10.0162 13.4671 10.1892 12.8489 10.18 12.22C10.1978 11.6416 10.0455 11.0707 9.742 10.578C9.43373 10.1167 8.97943 9.77225 8.452 9.59999ZM3.582 6.34399H5.668C6.11855 6.33115 6.56825 6.39057 7 6.51999C7.4 6.68599 7.6 7.03199 7.6 7.55399C7.6 8.02399 7.448 8.35399 7.144 8.53799C6.78268 8.73847 6.37279 8.83471 5.96 8.81599H3.582V6.34399ZM7.084 13.458C6.72528 13.6072 6.3381 13.6755 5.95 13.658H3.582V10.67H5.982C6.36439 10.6561 6.74557 10.7208 7.102 10.86C7.578 11.076 7.816 11.478 7.816 12.06C7.82 12.75 7.574 13.214 7.084 13.458Z" fill="currentColor"/>
        <path d="M18.928 10.238C18.844 9.6431 18.6251 9.0753 18.288 8.57799C17.949 8.06088 17.4686 7.652 16.904 7.39999C16.309 7.14266 15.6662 7.0145 15.018 7.02399C13.842 7.02399 12.8853 7.39533 12.148 8.13799C11.4107 8.88066 11.0427 9.94733 11.044 11.338C11.044 12.822 11.4513 13.8933 12.266 14.552C13.063 15.2023 14.0634 15.5514 15.092 15.538C16.3867 15.538 17.3927 15.148 18.11 14.368C18.574 13.876 18.832 13.394 18.888 12.918H16.746C16.6037 13.2151 16.3745 13.4619 16.0888 13.6258C15.8031 13.7898 15.4743 13.8631 15.146 13.836C14.742 13.8438 14.3443 13.7355 14 13.524C13.4667 13.2 13.1867 12.6353 13.16 11.83H19C19.0171 11.2983 18.9931 10.766 18.928 10.238ZM16.822 10.438H13.2C13.2503 9.97511 13.4488 9.54087 13.766 9.19999C13.9318 9.04131 14.1286 8.91855 14.344 8.8394C14.5594 8.76025 14.7889 8.72641 15.018 8.73999C15.4715 8.7257 15.9141 8.88037 16.26 9.17399C16.435 9.33597 16.5752 9.53198 16.6718 9.75001C16.7685 9.96805 16.8196 10.2035 16.822 10.442V10.438Z" fill="currentColor"/>
      </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.clubhouse_link != '' %}
    <li class="clubhouse">
      <a href="{{ settings.clubhouse_link }}" aria-label="{{ shop.name }} on Clubhouse" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.92124 7.78029C5.1858 8.66262 5.50605 9.49021 5.85415 10.2885C6.45289 11.7183 6.85668 12.4746 7.41491 13.413L7.47681 13.5147C8.14304 14.6099 8.88771 15.8341 10.0896 16.6355C10.9947 17.2377 12.0959 17.5458 13.1542 17.5458C14.6453 17.5458 15.9263 16.8876 16.7491 16.116C17.5567 15.3597 18.6023 13.9019 18.6023 11.0575C18.6023 10.1333 18.9858 9.33249 19.2981 8.68056L19.3542 8.56331C19.3542 8.54931 19.3681 8.5213 19.3959 8.46528C19.5212 8.18517 19.6744 7.82103 19.6744 7.4569C19.6744 7.19079 19.6048 6.88268 19.4238 6.61658C19.1453 6.1404 18.644 5.97233 18.1833 5.97233C17.1111 5.97233 16.3719 6.72862 15.9959 7.50019L15.8706 7.75228C15.7174 7.5282 15.5643 7.29011 15.439 7.08003C15.0491 6.39377 14.8263 5.93159 14.6314 5.34209C14.4782 4.87992 14.3529 4.34772 14.2693 3.91228C14.0326 2.53849 13.6428 2.09032 13.001 1.92225C12.5276 1.79621 11.9706 1.89424 11.5655 2.16034C11.2883 1.53011 10.8149 1.25 10.1871 1.25C9.29593 1.25 8.48706 1.83822 8.48706 2.83387C8.48706 2.94005 8.49694 3.04622 8.50838 3.16913L8.51491 3.24003C8.40352 3.21202 8.2782 3.19801 8.15289 3.19801C7.19213 3.19801 6.48073 3.87027 6.48073 4.78188C6.48073 4.99196 6.50858 5.23005 6.5782 5.51016C6.49466 5.49615 6.41111 5.49615 6.32757 5.49615C5.85415 5.52416 5.42251 5.70623 5.11491 6.08438C4.80985 6.44851 4.68453 7.00873 4.92124 7.78029ZM5.71488 7.52819C5.58956 7.12204 5.60349 6.81392 5.75665 6.61785C5.90982 6.43578 6.11868 6.35175 6.36931 6.33774C6.80095 6.32374 6.96804 6.63186 7.21868 7.43016C7.37184 7.93435 7.67817 8.6639 7.85918 9.07005C8.09589 9.56024 8.43007 10.2185 8.58323 10.4438C8.70855 10.6399 8.81994 10.6959 8.94526 10.6959C9.16804 10.6959 9.33513 10.5699 9.33513 10.3458C9.33513 10.2324 9.23362 10.0509 9.16257 9.92379L9.14019 9.88363C9.11497 9.83571 9.08411 9.77815 9.04943 9.71346C8.91177 9.4567 8.71389 9.08762 8.56931 8.76321C8.37437 8.31504 8.15159 7.75483 7.97058 7.24936C7.85918 6.95525 7.73387 6.53509 7.60855 6.11493C7.41361 5.47069 7.31614 5.07854 7.31614 4.78316C7.31614 4.33499 7.65032 4.04087 8.15159 4.04087C8.51361 4.04087 8.75032 4.22294 8.90349 4.88119C9.0288 5.48342 9.25159 6.46507 9.57184 7.23536C9.7807 7.73955 10.087 8.41308 10.268 8.7492C10.3044 8.81326 10.3423 8.87432 10.3768 8.92995C10.4479 9.04461 10.5048 9.13622 10.5048 9.18337C10.5048 9.24569 10.4316 9.33066 10.3389 9.43826C10.2859 9.49992 10.2264 9.56901 10.1706 9.64554C10.0731 9.77159 10.0313 9.85562 10.0313 9.95366C10.0313 10.0377 10.087 10.1217 10.1706 10.2338C10.2541 10.3458 10.3377 10.4578 10.4351 10.4578C10.5048 10.4578 10.5465 10.4298 10.5883 10.3738C11.0199 9.82761 11.4934 9.44947 12.0377 9.14008C12.6782 8.77594 13.3339 8.59387 13.8491 8.48183C14.0997 8.42581 14.1693 8.36979 14.1693 8.22973C14.1693 8.06167 14.044 7.96363 13.8769 7.94963C13.7745 7.93818 13.6814 7.94544 13.5444 7.95612C13.5138 7.95851 13.4809 7.96107 13.4453 7.96363C13.306 7.97764 13.2364 7.90761 13.1529 7.72554C13.1139 7.64283 13.0692 7.55129 13.0205 7.45136C12.7555 6.90828 12.3694 6.11725 12.1225 5.14729C11.9972 4.65711 11.8858 4.13891 11.8161 3.46538C11.7744 3.15727 11.8301 3.04522 11.9832 2.90517C12.1782 2.73711 12.5263 2.66708 12.7908 2.73711C13.1111 2.82114 13.2782 3.07324 13.4453 4.05488C13.5288 4.51705 13.668 5.10528 13.8351 5.61074C14.044 6.25499 14.3086 6.78846 14.7123 7.50273C14.9351 7.89488 15.2136 8.30103 15.506 8.69445C15.4503 8.86252 15.3529 8.97456 15.0326 9.24066C14.7123 9.50676 14.3921 9.78687 14.0997 10.3051C13.8908 10.6832 13.7934 11.1034 13.7934 11.3835C13.7934 11.6496 13.8491 11.7056 14.0161 11.7056C14.3086 11.7056 14.5453 11.6496 14.5592 11.5235C14.6288 11.0193 14.7123 10.6972 14.9908 10.3178C15.1579 10.1077 15.4503 9.84162 15.687 9.63154C16.1326 9.2674 16.2858 9.05732 16.4389 8.53912C16.5086 8.30103 16.5921 8.07695 16.7035 7.86687C16.968 7.37668 17.4415 6.81647 18.1807 6.81647C18.4174 6.81647 18.6123 6.8865 18.7377 7.08257C18.8073 7.19461 18.8351 7.34867 18.8351 7.46071C18.8351 7.70078 18.671 8.02975 18.5832 8.20573L18.5706 8.23101L18.5226 8.33378C18.2147 8.99199 17.763 9.95783 17.763 11.0614C17.763 13.5976 16.8718 14.8593 16.1744 15.5036C15.4921 16.1478 14.4187 16.7093 13.1516 16.7093C12.2465 16.7093 11.3123 16.4432 10.5465 15.939C9.49607 15.2392 8.83201 14.1483 8.16387 13.0506L8.12247 12.9826C7.57944 12.0723 7.20349 11.3567 6.61741 9.97021C6.28703 9.16681 5.97944 8.38252 5.71488 7.52819ZM10.187 2.09156C9.78325 2.09156 9.29591 2.30164 9.29591 2.83384C9.29591 3.18397 9.39338 3.70217 9.49085 4.12106C9.61197 4.41641 9.65993 4.63014 9.75671 5.06152C9.79344 5.2252 9.83719 5.42021 9.89464 5.66291C10.02 6.18238 10.1731 6.63055 10.3263 7.0227C10.5073 7.50015 10.7162 7.90631 11.0086 8.45252C11.1478 8.71862 11.2174 8.71862 11.5516 8.53655C11.8162 8.39649 12.206 8.22843 12.4984 8.13039C11.9972 7.03798 11.5795 6.12636 11.3706 5.35607C11.3149 5.13198 11.12 4.23437 11.0643 3.84222C11.0225 3.45008 10.9807 3.11395 10.8833 2.74981C10.7719 2.30164 10.6187 2.09156 10.187 2.09156Z" fill="currentColor"/>
          <path d="M4.30856 12.2149C4.01362 12.3982 2.45033 13.222 2.09717 13.3531C1.84527 13.4473 1.57185 13.4244 1.41109 12.9457C1.21362 12.3536 1.49084 12.2136 1.88577 12.0595C2.23514 11.9233 3.68451 11.3962 4.02122 11.3045C4.25793 11.2409 4.42248 11.3211 4.53641 11.6075C4.66172 11.922 4.57565 12.0481 4.30856 12.2149Z" fill="currentColor"/>
          <path d="M3.01995 8.87779C2.5997 8.88924 0.854128 8.81412 0.455394 8.77465C0.108558 8.74028 -0.031948 8.58622 0.00602667 8.08076C0.046533 7.53837 0.25666 7.50527 0.597166 7.53837C0.992103 7.57656 2.82122 7.87577 3.11236 7.96617C3.41362 8.06038 3.45539 8.19789 3.41869 8.46272C3.37185 8.80649 3.21742 8.87142 3.01995 8.87779Z" fill="currentColor"/>
          <path d="M3.23641 5.32298C2.75539 5.1702 1.32755 4.3006 0.955394 4.07651C0.618685 3.8728 0.575647 3.68946 0.809824 3.24256C1.01742 2.84786 1.2478 2.77911 1.58957 2.95736C1.98577 3.16489 3.38451 4.25985 3.6516 4.4763C3.90982 4.68511 3.87438 4.79333 3.73894 5.06198C3.6035 5.33062 3.47691 5.39938 3.23641 5.32298Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.discord_link != '' %}
    <li class="discord">
      <a href="{{ settings.discord_link }}" aria-label="{{ shop.name }} on Discord" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_47_218)">
            <path d="M16.9308 3.75843C15.6561 3.17596 14.2892 2.74682 12.8599 2.50103C12.8339 2.49629 12.8079 2.50814 12.7945 2.53185C12.6187 2.84323 12.4239 3.24945 12.2876 3.56874C10.7503 3.33955 9.22099 3.33955 7.71527 3.56874C7.57887 3.24235 7.37707 2.84323 7.20048 2.53185C7.18707 2.50893 7.16107 2.49708 7.13504 2.50103C5.70659 2.74603 4.33963 3.17517 3.06411 3.75843C3.05307 3.76317 3.04361 3.77108 3.03732 3.78134C0.444493 7.63888 -0.265792 11.4016 0.0826501 15.1177C0.0842267 15.1358 0.0944749 15.1532 0.108665 15.1643C1.81934 16.4154 3.47642 17.1749 5.10273 17.6783C5.12876 17.6862 5.15634 17.6767 5.1729 17.6554C5.55761 17.1322 5.90053 16.5806 6.19456 16.0004C6.21192 15.9665 6.19535 15.9262 6.15989 15.9127C5.61594 15.7072 5.098 15.4567 4.59977 15.1722C4.56037 15.1493 4.55721 15.0932 4.59346 15.0663C4.69831 14.988 4.80318 14.9066 4.9033 14.8244C4.92141 14.8094 4.94665 14.8063 4.96794 14.8157C8.24107 16.3039 11.7846 16.3039 15.0191 14.8157C15.0404 14.8055 15.0657 14.8087 15.0846 14.8237C15.1847 14.9059 15.2895 14.988 15.3952 15.0663C15.4314 15.0932 15.4291 15.1493 15.3897 15.1722C14.8914 15.4622 14.3735 15.7072 13.8288 15.9119C13.7933 15.9254 13.7775 15.9665 13.7949 16.0004C14.0952 16.5797 14.4381 17.1314 14.8157 17.6546C14.8315 17.6767 14.8599 17.6862 14.8859 17.6783C16.5201 17.1749 18.1772 16.4154 19.8879 15.1643C19.9028 15.1532 19.9123 15.1366 19.9139 15.1185C20.3309 10.8223 19.2154 7.09041 16.9568 3.78213C16.9513 3.77108 16.9419 3.76317 16.9308 3.75843ZM6.68335 12.855C5.69792 12.855 4.88594 11.954 4.88594 10.8476C4.88594 9.74112 5.68217 8.84018 6.68335 8.84018C7.69239 8.84018 8.49651 9.74903 8.48073 10.8476C8.48073 11.954 7.68451 12.855 6.68335 12.855ZM13.329 12.855C12.3435 12.855 11.5316 11.954 11.5316 10.8476C11.5316 9.74112 12.3278 8.84018 13.329 8.84018C14.338 8.84018 15.1421 9.74903 15.1264 10.8476C15.1264 11.954 14.338 12.855 13.329 12.855Z" fill="currentColor"/>
          </g>
          <defs>
            <clipPath id="clip0_47_218">
              <rect width="20" height="20" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.dribbble_link != '' %}
    <li class="dribbble">
      <a href="{{ settings.dribbble_link }}" aria-label="{{ shop.name }} on Dribbble" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.4794 0 0 4.4794 0 10C0 15.5206 4.4794 20 10 20C15.5098 20 20 15.5206 20 10C20 4.4794 15.5098 0 10 0ZM16.6052 4.60954C17.7983 6.0629 18.5141 7.91758 18.5358 9.92408C18.2538 9.86984 15.4338 9.29502 12.5922 9.65292C12.5271 9.51194 12.4729 9.36008 12.4078 9.20824C12.2343 8.7961 12.039 8.3731 11.8438 7.9718C14.9892 6.69198 16.4208 4.84816 16.6052 4.60954ZM10 1.47505C12.1692 1.47505 14.154 2.2885 15.6616 3.62256C15.5098 3.83948 14.2191 5.564 11.1822 6.70282C9.78308 4.13232 8.2321 2.0282 7.9935 1.70282C8.6334 1.55098 9.30586 1.47505 10 1.47505ZM6.3666 2.27766C6.59436 2.58134 8.1128 4.69632 9.53362 7.21258C5.5423 8.27548 2.01736 8.2538 1.63774 8.2538C2.19088 5.60738 3.98048 3.40564 6.3666 2.27766ZM1.45336 10.0108C1.45336 9.92408 1.45336 9.83732 1.45336 9.75054C1.82213 9.76138 5.9653 9.81562 10.2278 8.5358C10.4772 9.01302 10.705 9.50108 10.9219 9.98916C10.8134 10.0217 10.6941 10.0542 10.5857 10.0868C6.18222 11.5076 3.83948 15.3905 3.64426 15.7158C2.2885 14.2082 1.45336 12.2017 1.45336 10.0108ZM10 18.5466C8.02604 18.5466 6.2039 17.8742 4.76138 16.7462C4.91324 16.4317 6.6486 13.0911 11.4642 11.41C11.4859 11.3991 11.4967 11.3991 11.5184 11.3883C12.7223 14.5011 13.2104 17.115 13.3406 17.8633C12.3102 18.308 11.1822 18.5466 10 18.5466ZM14.7614 17.0824C14.6746 16.5618 14.2191 14.0672 13.102 10.9978C15.7809 10.5748 18.1236 11.269 18.4165 11.3666C18.0477 13.7419 16.6811 15.7918 14.7614 17.0824Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.email_link != '' %}
    <li class="email">
      <a href="mailto:{{ settings.email_link }}" aria-label="Email {{ shop.name }}" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.0132 7.15129C1 7.69022 1 8.30205 1 9V11C1 13.8284 1 15.2426 1.87868 16.1213C2.75736 17 4.17157 17 7 17H13C15.8284 17 17.2426 17 18.1213 16.1213C19 15.2426 19 13.8284 19 11V9C19 8.30205 19 7.69022 18.9868 7.15129L10.9713 11.6044C10.3672 11.9399 9.63276 11.9399 9.02871 11.6044L1.0132 7.15129ZM1.24297 5.02971C1.32584 5.05052 1.4074 5.08237 1.48564 5.12584L10 9.85604L18.5144 5.12584C18.5926 5.08237 18.6742 5.05052 18.757 5.02971C18.6271 4.55619 18.4276 4.18491 18.1213 3.87868C17.2426 3 15.8284 3 13 3H7C4.17157 3 2.75736 3 1.87868 3.87868C1.57245 4.18491 1.37294 4.55619 1.24297 5.02971Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.facebook_link != '' %}
    <li class="facebook">
      <a href="{{ settings.facebook_link }}" aria-label="{{ shop.name }} on Facebook" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g><path d="M0.00195312 10.002C0.00311667 14.9214 3.58036 19.1101 8.43895 19.881V12.892H5.90195V10.002H8.44195V7.80204C8.32841 6.75958 8.68447 5.72064 9.41359 4.96698C10.1427 4.21332 11.1693 3.82306 12.215 3.90204C12.9655 3.91417 13.7141 3.98101 14.455 4.10205V6.56104H13.191C12.7558 6.50405 12.3183 6.64777 12.0017 6.95171C11.6851 7.25566 11.5237 7.68693 11.563 8.12404V10.002H14.334L13.891 12.893H11.563V19.881C16.8174 19.0506 20.502 14.2518 19.9475 8.96112C19.3929 3.67041 14.7932 -0.260027 9.48078 0.0172227C4.16831 0.294472 0.0027976 4.68235 0.00195312 10.002Z" fill="currentColor"/></g>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.flickr_link != '' %}
    <li class="flickr">
      <a href="{{ settings.flickr_link }}" aria-label="{{ shop.name }} on Flickr" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.28199 5.71799C4.435 5.71759 3.60693 5.96839 2.90249 6.43866C2.19806 6.90893 1.64891 7.57755 1.32451 8.35995C1.00011 9.14235 0.915026 10.0034 1.08002 10.8341C1.24502 11.6649 1.65268 12.4281 2.25145 13.0271C2.85022 13.6262 3.61319 14.0342 4.44388 14.1996C5.27456 14.3649 6.13563 14.2803 6.91818 13.9562C7.70073 13.6322 8.3696 13.0834 8.8402 12.3791C9.3108 11.6749 9.56199 10.847 9.56199 9.99999C9.56093 8.865 9.10973 7.77678 8.30736 6.97403C7.50499 6.17129 6.41697 5.71958 5.28199 5.71799Z" fill="currentColor"/>
          <path d="M14.718 5.71799C13.8711 5.71799 13.0432 5.96912 12.339 6.43963C11.6349 6.91015 11.086 7.5789 10.7619 8.36134C10.4378 9.14377 10.353 10.0047 10.5183 10.8354C10.6835 11.666 11.0913 12.429 11.6901 13.0278C12.289 13.6267 13.052 14.0345 13.8826 14.1997C14.7132 14.3649 15.5742 14.2801 16.3566 13.956C17.1391 13.6319 17.8078 13.0831 18.2783 12.3789C18.7488 11.6748 19 10.8469 19 9.99999C18.9989 8.86466 18.5474 7.77613 17.7446 6.97333C16.9418 6.17052 15.8533 5.71905 14.718 5.71799Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.houzz_link != '' %}
    <li>
      <a href="{{ settings.houzz_link }}" aria-label="{{ shop.name }} on Houzz" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 20V0H5.61556V4.61556L19.2044 8.46222V20H12.7956V13.3333H7.66667V20H1Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.instagram_link != '' %}
    <li class="instagram">
      <a href="{{ settings.instagram_link }}" aria-label="{{ shop.name }} on Instagram" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 1.93347C12.6289 1.93347 12.9375 1.94519 13.9766 1.99207C14.9375 2.03503 15.457 2.19519 15.8047 2.33191C16.2656 2.5116 16.5938 2.72253 16.9375 3.06628C17.2813 3.41003 17.4961 3.73816 17.6719 4.1991C17.8047 4.54675 17.9688 5.06628 18.0117 6.02722C18.0586 7.06628 18.0703 7.37488 18.0703 10.0038C18.0703 12.6327 18.0586 12.9413 18.0117 13.9803C17.9688 14.9413 17.8086 15.4608 17.6719 15.8085C17.4922 16.2694 17.2813 16.5975 16.9375 16.9413C16.5938 17.285 16.2656 17.4999 15.8047 17.6757C15.457 17.8085 14.9375 17.9725 13.9766 18.0155C12.9375 18.0624 12.6289 18.0741 10 18.0741C7.37109 18.0741 7.0625 18.0624 6.02344 18.0155C5.0625 17.9725 4.54297 17.8124 4.19531 17.6757C3.73438 17.496 3.40625 17.285 3.0625 16.9413C2.71875 16.5975 2.50391 16.2694 2.32813 15.8085C2.19531 15.4608 2.03125 14.9413 1.98828 13.9803C1.94141 12.9413 1.92969 12.6327 1.92969 10.0038C1.92969 7.37488 1.94141 7.06628 1.98828 6.02722C2.03125 5.06628 2.19141 4.54675 2.32813 4.1991C2.50781 3.73816 2.71875 3.41003 3.0625 3.06628C3.40625 2.72253 3.73438 2.50769 4.19531 2.33191C4.54297 2.1991 5.0625 2.03503 6.02344 1.99207C7.0625 1.94128 7.37109 1.93347 10 1.93347ZM10 0.160034C7.32813 0.160034 6.99219 0.171753 5.94141 0.218628C4.89453 0.265503 4.17969 0.433472 3.55469 0.675659C2.90625 0.925659 2.35938 1.2655 1.8125 1.81238C1.26563 2.35925 0.929688 2.91003 0.675781 3.55457C0.433594 4.17957 0.265625 4.89441 0.21875 5.94519C0.171875 6.99206 0.160156 7.328 0.160156 9.99988C0.160156 12.6718 0.171875 13.0077 0.21875 14.0585C0.265625 15.1053 0.433594 15.8202 0.675781 16.4491C0.925781 17.0975 1.26563 17.6444 1.8125 18.1913C2.35938 18.7382 2.91016 19.0741 3.55469 19.328C4.17969 19.5702 4.89453 19.7382 5.94531 19.785C6.99609 19.8319 7.32813 19.8436 10.0039 19.8436C12.6797 19.8436 13.0117 19.8319 14.0625 19.785C15.1094 19.7382 15.8242 19.5702 16.4531 19.328C17.1016 19.078 17.6484 18.7382 18.1953 18.1913C18.7422 17.6444 19.0781 17.0936 19.332 16.4491C19.5742 15.8241 19.7422 15.1093 19.7891 14.0585C19.8359 13.0077 19.8477 12.6757 19.8477 9.99988C19.8477 7.3241 19.8359 6.99207 19.7891 5.94128C19.7422 4.89441 19.5742 4.17957 19.332 3.55066C19.082 2.90222 18.7422 2.35535 18.1953 1.80847C17.6484 1.2616 17.0977 0.925659 16.4531 0.671753C15.8281 0.429565 15.1133 0.261597 14.0625 0.214722C13.0078 0.171753 12.6719 0.160034 10 0.160034Z" fill="currentColor"/>
          <path d="M10 4.94519C7.21094 4.94519 4.94531 7.20691 4.94531 9.99988C4.94531 12.7928 7.21094 15.0546 10 15.0546C12.7891 15.0546 15.0547 12.7889 15.0547 9.99988C15.0547 7.21082 12.7891 4.94519 10 4.94519ZM10 13.2811C8.1875 13.2811 6.71875 11.8124 6.71875 9.99988C6.71875 8.18738 8.1875 6.71863 10 6.71863C11.8125 6.71863 13.2812 8.18738 13.2812 9.99988C13.2812 11.8124 11.8125 13.2811 10 13.2811Z" fill="currentColor"/>
          <path d="M15.2539 5.92578C15.9054 5.92578 16.4336 5.39762 16.4336 4.74609C16.4336 4.09457 15.9054 3.56641 15.2539 3.56641C14.6024 3.56641 14.0742 4.09457 14.0742 4.74609C14.0742 5.39762 14.6024 5.92578 15.2539 5.92578Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.kickstarter_link != '' %}
    <li class="kickstarter">
      <a href="{{ settings.kickstarter_link }}" aria-label="{{ shop.name }} on Kickstarter" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1726 10.0041L16.7638 8.42346C18.4121 6.78614 18.4121 4.11939 16.7638 2.48205C15.1154 0.844718 12.4308 0.844718 10.7825 2.48205L10.2031 3.05755C9.43603 1.96329 8.17123 1.25 6.72691 1.25C4.39313 1.25 2.5 3.1305 2.5 5.4487V14.5513C2.5 16.8695 4.39313 18.75 6.72691 18.75C8.17123 18.75 9.43603 18.0367 10.2031 16.9425L10.7825 17.518C12.4308 19.1553 15.1154 19.1553 16.7638 17.518C18.4121 15.8806 18.4121 13.2139 16.7638 11.5765L15.1726 10.0041Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.linkedin_link != '' %}
    <li class="linkedin">
      <a href="{{ settings.linkedin_link }}" aria-label="{{ shop.name }} on LinkedIn" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.722 15.7221H13.3134V11.9509C13.3134 11.0512 13.2969 9.89449 12.061 9.89449C10.8067 9.89449 10.6147 10.8742 10.6147 11.8858V15.7221H8.20618V7.96717H10.5183V9.02669H10.5504C10.872 8.41709 11.6582 7.7742 12.8308 7.7742C15.2714 7.7742 15.722 9.38036 15.722 11.4684V15.7221ZM5.48995 6.90708C4.7174 6.90708 4.09211 6.28067 4.09211 5.50925C4.09211 4.73839 4.7174 4.1122 5.48995 4.1122C6.26047 4.1122 6.88666 4.73839 6.88666 5.50925C6.88666 6.28067 6.26047 6.90708 5.48995 6.90708ZM4.28429 15.7221H6.69459V7.96717H4.28429V15.7221ZM16.9224 1.875H3.07445C2.41272 1.875 1.875 2.39951 1.875 3.04624V16.9524C1.875 17.5997 2.41272 18.125 3.07445 18.125H16.9224C17.5853 18.125 18.1252 17.5997 18.1252 16.9524V3.04624C18.1252 2.39951 17.5853 1.875 16.9224 1.875Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.medium_link != '' %}
    <li class="medium">
      <a href="{{ settings.medium_link }}" aria-label="{{ shop.name }} on Medium" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.2812 9.46438C11.2812 12.6202 8.75578 15.1786 5.6407 15.1786C2.52561 15.1786 0 12.6197 0 9.46438C0 6.30909 2.52542 3.75 5.6407 3.75C8.75598 3.75 11.2812 6.30851 11.2812 9.46438Z" fill="currentColor"/>
          <path d="M17.469 9.46439C17.469 12.435 16.2063 14.844 14.6487 14.844C13.091 14.844 11.8283 12.435 11.8283 9.46439C11.8283 6.49383 13.0908 4.08475 14.6485 4.08475C16.2061 4.08475 17.4688 6.49305 17.4688 9.46439" fill="currentColor"/>
          <path d="M20 9.4644C20 12.1253 19.556 14.2837 19.0081 14.2837C18.4602 14.2837 18.0164 12.1259 18.0164 9.4644C18.0164 6.80292 18.4604 4.64508 19.0081 4.64508C19.5558 4.64508 20 6.80272 20 9.4644Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.messenger_link != '' %}
    <li class="messenger">
      <a href="{{ settings.messenger_link }}" aria-label="{{ shop.name }} on Messenger" rel="me" target="_blank">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0021 0C4.36884 0 0 4.12668 0 9.70171C0 12.6176 1.19547 15.1365 3.14041 16.8761C3.30211 17.0224 3.40096 17.2248 3.40863 17.4455L3.4638 19.2256C3.46776 19.3565 3.50385 19.4844 3.56889 19.5981C3.63392 19.7117 3.72591 19.8076 3.83675 19.8774C3.94759 19.9471 4.07387 19.9885 4.20448 19.9979C4.33509 20.0074 4.46601 19.9845 4.58571 19.9314L6.57126 19.0563C6.74062 18.9827 6.92837 18.9681 7.10463 19.0157C8.01656 19.2663 8.98749 19.4019 9.99905 19.4019C15.6323 19.4019 20.0012 15.276 20.0012 9.70094C20.0012 4.12668 15.6331 0 10.0021 0ZM15.2538 7.57898L12.7494 11.5509C12.6552 11.7004 12.531 11.8287 12.3847 11.9279C12.2383 12.027 12.0731 12.0948 11.8993 12.1269C11.7255 12.159 11.5469 12.1547 11.3749 12.1144C11.2028 12.0741 11.0409 11.9986 10.8995 11.8926L8.90703 10.3998C8.81829 10.3335 8.7105 10.2977 8.59973 10.2977C8.48897 10.2977 8.38117 10.3335 8.29243 10.3998L5.60416 12.4406C5.24781 12.7126 4.77652 12.2827 5.01562 11.9041L7.51998 7.93226C7.61422 7.78275 7.73841 7.65439 7.88472 7.55525C8.03103 7.45611 8.19629 7.38835 8.37009 7.35625C8.54388 7.32414 8.72244 7.32837 8.89451 7.36868C9.06659 7.409 9.22845 7.48452 9.36989 7.59048L11.3623 9.08329C11.4511 9.14958 11.5589 9.1854 11.6696 9.1854C11.7804 9.1854 11.8882 9.14958 11.9769 9.08329L14.6652 7.04255C15.0254 6.76668 15.4967 7.19659 15.2538 7.57898Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.opensea_link != '' %}
    <li class="opensea">
      <a href="{{ settings.opensea_link }}" aria-label="{{ shop.name }} on OpenSea" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5225 15.5225 20 10 20C4.47746 20 0 15.5225 0 10C0 4.47746 4.47746 0 10 0C15.5237 0 20 4.47746 20 10ZM4.93357 10.336L4.97671 10.2682L7.57811 6.19865C7.61613 6.13907 7.70551 6.14523 7.73427 6.20995C8.16887 7.18393 8.54387 8.39525 8.36819 9.14937C8.29319 9.45965 8.08771 9.87985 7.85653 10.2682C7.82675 10.3247 7.79387 10.3802 7.75893 10.4336C7.74249 10.4583 7.71475 10.4727 7.68495 10.4727H5.00959C4.93767 10.4727 4.89555 10.3946 4.93357 10.336ZM16.5289 11.7364V11.0922C16.5289 11.0326 16.4713 10.9895 16.4148 11.0059L13.3727 11.8854C13.3562 11.8895 13.3418 11.8987 13.3305 11.9111C13.0047 12.271 12.7278 12.5125 12.6545 12.5765L12.6494 12.5809C12.4603 12.7412 12.2261 12.8285 11.9795 12.8285H10.8781V11.7056H11.7535C11.7761 11.7056 11.7977 11.6974 11.8141 11.683L11.9271 11.5792C11.9754 11.535 12.0329 11.4816 12.1018 11.4128C12.1076 11.4069 12.1136 11.401 12.1196 11.395C12.1557 11.359 12.1944 11.3205 12.2322 11.2782C12.2775 11.234 12.3216 11.1847 12.3627 11.1364C12.4316 11.0624 12.4973 10.9854 12.5662 10.9042C12.6155 10.8508 12.6607 10.7902 12.7049 10.7295C12.7542 10.672 12.8025 10.6073 12.8477 10.5456C12.8645 10.5209 12.8824 10.4959 12.9007 10.4704C12.9181 10.446 12.9359 10.4212 12.9535 10.3956C12.9864 10.3463 13.0192 10.2939 13.047 10.2446C13.1333 10.111 13.2062 9.96821 13.2679 9.82541C13.2962 9.76425 13.3188 9.69985 13.3408 9.63725C13.3435 9.62939 13.3463 9.62156 13.349 9.61378C13.3737 9.54082 13.3942 9.47199 13.4097 9.39903C13.4466 9.22746 13.4549 9.05692 13.4384 8.88636C13.4343 8.83294 13.4302 8.78054 13.4179 8.73124V8.72302C13.4138 8.68808 13.4055 8.64904 13.3942 8.61308C13.3573 8.44664 13.2997 8.2802 13.2268 8.11683C13.2021 8.05622 13.1734 7.99458 13.1456 7.93808C13.0799 7.81581 13.011 7.69353 12.9329 7.5754C12.9173 7.55044 12.9 7.52516 12.8827 7.49992C12.8694 7.48047 12.8561 7.46106 12.8436 7.44183C12.7941 7.36557 12.7385 7.29204 12.6846 7.2207C12.6724 7.20457 12.6603 7.18856 12.6483 7.17266C12.6165 7.13084 12.5816 7.08903 12.5466 7.04694C12.5273 7.02387 12.508 7.00072 12.4891 6.97744C12.4357 6.91272 12.3833 6.85108 12.3299 6.79046C12.1388 6.5747 11.9384 6.3795 11.7596 6.21306C11.7268 6.18018 11.6908 6.14729 11.6538 6.11546C11.5151 5.98908 11.3887 5.87914 11.2829 5.79387C11.2511 5.76941 11.2226 5.74531 11.1961 5.72288C11.178 5.70762 11.1609 5.69314 11.1442 5.67984C11.1122 5.65594 11.0843 5.63474 11.061 5.61695C11.0462 5.60566 11.0331 5.59573 11.022 5.58736C11.0137 5.5812 11.0045 5.5771 10.9953 5.574L10.8781 5.54114V4.57126C10.8781 4.41304 10.8144 4.27126 10.7127 4.16748C10.611 4.06371 10.4692 4.00002 10.3131 4.00002C10.0007 4.00002 9.74798 4.25584 9.74798 4.57126V5.22468L9.68942 5.20826L9.53016 5.16304L9.3853 5.12298L9.38395 5.12259L9.3812 5.12193H9.37812L8.27878 4.824C8.2305 4.81064 8.1894 4.86304 8.21406 4.90722L8.38974 5.23188C8.39972 5.25683 8.41236 5.28178 8.42534 5.30742C8.43374 5.32402 8.44229 5.3409 8.45036 5.35826C8.47914 5.41578 8.5079 5.47639 8.53564 5.53701C8.5603 5.59044 8.58496 5.64284 8.61372 5.70038C8.62582 5.72743 8.63815 5.75481 8.65065 5.78258C8.69657 5.88455 8.74485 5.99176 8.79248 6.10724C8.83358 6.20483 8.87468 6.30243 8.91064 6.40415C9.00928 6.65998 9.10276 6.93326 9.18394 7.21376C9.20414 7.27653 9.22029 7.33728 9.23665 7.39886C9.24359 7.42495 9.25056 7.45119 9.2579 7.4778L9.2692 7.52709C9.30208 7.65759 9.33086 7.78704 9.3514 7.91752C9.36784 8.0069 9.38324 8.09218 9.39146 8.17847C9.4038 8.27608 9.41612 8.3737 9.42024 8.4713C9.42846 8.56067 9.43256 8.65418 9.43256 8.74356C9.43256 8.97163 9.41202 9.19149 9.36372 9.39903C9.3607 9.41018 9.35767 9.42147 9.35463 9.43286C9.3411 9.48336 9.32708 9.53572 9.3103 9.58603C9.29513 9.63991 9.27547 9.69378 9.25504 9.74972C9.24782 9.76952 9.24049 9.78958 9.23324 9.81C9.23189 9.81364 9.23053 9.81729 9.22917 9.82094C9.21407 9.86162 9.19869 9.90304 9.17982 9.94357C9.0781 10.1881 8.95174 10.4316 8.82126 10.6597C8.63016 10.9977 8.43804 11.2946 8.30344 11.4857C8.29521 11.4981 8.28718 11.5098 8.27944 11.5211C8.2698 11.5352 8.26062 11.5486 8.25208 11.5617C8.20996 11.6213 8.2531 11.7056 8.32604 11.7056H9.74798V12.8285H8.3096C7.9233 12.8285 7.56576 12.6097 7.39316 12.2593C7.30378 12.0837 7.26884 11.8905 7.2894 11.7015C7.29452 11.645 7.2524 11.5915 7.19488 11.5915H4.28936C4.24004 11.5915 4.19998 11.6316 4.19998 11.6809V11.7405C4.19998 13.594 5.69692 15.096 7.54418 15.096H12.7562C13.7332 15.096 14.288 14.2057 14.8333 13.3307C14.9853 13.0867 15.1365 12.844 15.296 12.622C15.5826 12.2234 16.272 11.9069 16.4734 11.8206C16.5063 11.8063 16.5289 11.7734 16.5289 11.7364Z" fill="currentColor"/>
          </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.pinterest_link != '' %}
    <li class="pinterest">
      <a href="{{ settings.pinterest_link }}" aria-label="{{ shop.name }} on Pinterest" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.95784 0.811059C11.2265 0.811059 12.4382 1.05906 13.5928 1.55506C14.7475 2.05106 15.7435 2.71773 16.5808 3.55506C17.4182 4.39239 18.0848 5.38839 18.5808 6.54306C19.0768 7.69773 19.3248 8.90939 19.3248 10.1781C19.3248 11.8694 18.9062 13.4347 18.0688 14.8741C17.2315 16.3134 16.0932 17.4517 14.6538 18.2891C13.2145 19.1264 11.6492 19.5451 9.95784 19.5451C9.03118 19.5451 8.14484 19.4231 7.29884 19.1791C7.77018 18.4144 8.08718 17.7394 8.24984 17.1541L8.90884 14.5931C9.07151 14.9017 9.37251 15.1741 9.81184 15.4101C10.2512 15.6461 10.7145 15.7641 11.2018 15.7641C12.1778 15.7641 13.0518 15.4834 13.8238 14.9221C14.5958 14.3607 15.1935 13.5924 15.6168 12.6171C16.0402 11.6417 16.2515 10.5441 16.2508 9.32406C16.2508 7.87673 15.6938 6.62039 14.5798 5.55506C13.4658 4.48973 12.0468 3.95706 10.3228 3.95706C9.26551 3.95706 8.29784 4.13606 7.41984 4.49406C6.54184 4.85206 5.83451 5.31973 5.29784 5.89706C4.76118 6.47439 4.35051 7.10039 4.06584 7.77506C3.78118 8.44973 3.63884 9.12873 3.63884 9.81206C3.63884 10.6574 3.79751 11.3974 4.11484 12.0321C4.43218 12.6667 4.90784 13.1141 5.54184 13.3741C5.65584 13.4227 5.75351 13.4267 5.83484 13.3861C5.91618 13.3454 5.97318 13.2681 6.00584 13.1541C6.11984 12.7474 6.18484 12.4954 6.20084 12.3981C6.26618 12.2194 6.22551 12.0487 6.07884 11.8861C5.65618 11.4147 5.44484 10.8047 5.44484 10.0561C5.44484 8.82006 5.87184 7.75906 6.72584 6.87306C7.57984 5.98706 8.69784 5.54406 10.0798 5.54406C11.2998 5.54406 12.2512 5.87739 12.9338 6.54406C13.6165 7.21073 13.9582 8.08073 13.9588 9.15406C13.9588 10.0487 13.8368 10.8741 13.5928 11.6301C13.3488 12.3861 12.9992 12.9917 12.5438 13.4471C12.0885 13.9024 11.5682 14.1301 10.9828 14.1301C10.4948 14.1301 10.0965 13.9511 9.78784 13.5931C9.47918 13.2351 9.38151 12.8121 9.49484 12.3241C9.56018 12.0961 9.64551 11.8034 9.75084 11.4461C9.85618 11.0887 9.94551 10.7837 10.0188 10.5311C10.0922 10.2784 10.1612 10.0061 10.2258 9.71406C10.2905 9.42206 10.3232 9.17806 10.3238 8.98206C10.3238 8.57539 10.2182 8.24206 10.0068 7.98206C9.79551 7.72206 9.48651 7.59206 9.07984 7.59206C8.57584 7.59206 8.15284 7.82373 7.81084 8.28706C7.46884 8.75039 7.29818 9.33173 7.29884 10.0311C7.29884 10.2911 7.31918 10.5431 7.35984 10.7871C7.40051 11.0311 7.44518 11.2101 7.49384 11.3241L7.56684 11.4951C6.90018 14.3897 6.49351 16.0891 6.34684 16.5931C6.21684 17.2111 6.16818 17.9347 6.20084 18.7641C4.52551 18.0161 3.17151 16.8694 2.13884 15.3241C1.10618 13.7787 0.589844 12.0631 0.589844 10.1771C0.589844 7.59106 1.50451 5.38339 3.33384 3.55406C5.16318 1.72473 7.37084 0.810059 9.95684 0.810059L9.95784 0.811059Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.reddit_link != '' %}
    <li class="reddit">
      <a href="{{ settings.reddit_link }}" aria-label="{{ shop.name }} on Reddit" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.70761 10C7.13451 10 6.66667 10.4678 6.66667 11.0409C6.66667 11.614 7.13451 12.0819 7.70761 12.0819C8.28071 12.0819 8.74854 11.614 8.74854 11.0409C8.74854 10.4678 8.28071 10 7.70761 10Z" fill="currentColor"/>
          <path d="M10.0117 14.5497C10.4094 14.5497 11.7661 14.5029 12.4795 13.7895C12.5848 13.6842 12.5848 13.5205 12.5029 13.4035C12.3977 13.2982 12.2222 13.2982 12.117 13.4035C11.6608 13.848 10.7135 14.0117 10.0234 14.0117C9.33334 14.0117 8.37427 13.848 7.92983 13.4035C7.82457 13.2982 7.64913 13.2982 7.54386 13.4035C7.4386 13.5088 7.4386 13.6842 7.54386 13.7895C8.24562 14.4912 9.61404 14.5497 10.0117 14.5497Z" fill="currentColor"/>
          <path d="M11.2515 11.0409C11.2515 11.614 11.7193 12.0819 12.2924 12.0819C12.8655 12.0819 13.3333 11.614 13.3333 11.0409C13.3333 10.4678 12.8655 10 12.2924 10C11.7193 10 11.2515 10.4678 11.2515 11.0409Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM15.2047 8.53801C16.0117 8.53801 16.6667 9.19298 16.6667 10C16.6667 10.5965 16.3041 11.1111 15.8246 11.345C15.848 11.4854 15.8597 11.6257 15.8597 11.7778C15.8597 14.0234 13.2515 15.8363 10.0234 15.8363C6.79533 15.8363 4.18714 14.0234 4.18714 11.7778C4.18714 11.6257 4.19884 11.4737 4.22223 11.3333C3.70761 11.0994 3.35673 10.5965 3.35673 10C3.35673 9.19298 4.0117 8.53801 4.81872 8.53801C5.20468 8.53801 5.56726 8.70175 5.82457 8.94737C6.83041 8.21053 8.22223 7.75439 9.77778 7.7076L10.5146 4.22222C10.538 4.15205 10.5731 4.09357 10.6316 4.05848C10.6901 4.02339 10.7602 4.0117 10.8304 4.02339L13.2515 4.53801C13.4152 4.18714 13.7661 3.95322 14.1754 3.95322C14.7485 3.95322 15.2164 4.42105 15.2164 4.99415C15.2164 5.56725 14.7485 6.03509 14.1754 6.03509C13.614 6.03509 13.1579 5.59064 13.1345 5.04094L10.9708 4.5848L10.3041 7.7076C11.8246 7.76608 13.2047 8.23392 14.1988 8.94737C14.4561 8.69006 14.807 8.53801 15.2047 8.53801Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.rss_link != '' %}
    <li class="rss">
      <a href="{{ settings.rss_link }}" aria-label="{{ shop.name }} on RSS" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.84353 13.5475C2.41329 13.5475 1.25 14.7108 1.25 16.1424C1.25 17.5705 2.41329 18.7338 3.84353 18.7338C5.27376 18.7338 6.43846 17.5698 6.43846 16.1424C6.43917 14.7108 5.27447 13.5475 3.84353 13.5475Z" fill="currentColor"/>
          <path d="M1.51975 6.96179C1.37153 6.96179 1.25 7.08332 1.25 7.23224V10.5254C1.25 10.6737 1.37153 10.7945 1.51975 10.7945C5.74864 10.7945 9.19005 14.2352 9.19005 18.4655C9.19005 18.6123 9.31017 18.7345 9.4598 18.7345H12.7537H12.7649C12.916 18.7345 13.0368 18.613 13.0368 18.4655L13.0241 18.3805C12.9757 12.0765 7.83217 6.96179 1.51975 6.96179Z" fill="currentColor"/>
          <path d="M18.7345 18.3805C18.6889 8.92451 10.9821 1.25 1.51975 1.25C1.37153 1.25 1.25 1.37083 1.25 1.52115V4.90988C1.25 5.05881 1.37153 5.17893 1.51975 5.17893C8.84584 5.17893 14.8056 11.1401 14.8056 18.4655C14.8056 18.6123 14.9264 18.7345 15.074 18.7345H18.4634H18.4774C18.625 18.7345 18.75 18.613 18.75 18.4655L18.7345 18.3805Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.snapchat_link != '' %}
    <li>
      <a href="{{ settings.snapchat_link }}" aria-label="{{ shop.name }} on Snapchat" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1089 3.23973C15.4666 4.57849 15.5512 5.97755 15.3576 7.35083V7.40037C15.3462 7.55427 15.339 7.69342 15.3327 7.83256C15.4352 7.88801 15.5505 7.91423 15.6664 7.90846C15.9668 7.88065 16.2591 7.7944 16.5275 7.65442C16.6475 7.59399 16.78 7.56363 16.914 7.56587C17.0587 7.56356 17.2025 7.58932 17.3378 7.64177C17.6708 7.71977 17.9172 8.00612 17.9491 8.35225C17.9629 8.73314 17.6262 9.06308 16.9388 9.34208C16.8653 9.36632 16.7637 9.40638 16.6529 9.44749C16.2767 9.56239 15.7027 9.75213 15.541 10.1337C15.4666 10.3832 15.5045 10.6534 15.6446 10.8716L15.6571 10.8853C16.395 12.5903 17.8712 13.8486 19.6505 14.2891C19.8573 14.3225 20.007 14.5074 19.9997 14.7202C19.9987 14.7856 19.986 14.8502 19.9624 14.911C19.7625 15.3928 18.9024 15.7543 17.3409 15.9873C17.2783 16.1431 17.2325 16.3053 17.2041 16.4711C17.1782 16.6296 17.1411 16.7861 17.0932 16.9392C17.0445 17.1545 16.8475 17.3005 16.6311 17.2818H16.6062C16.4551 17.2747 16.305 17.2539 16.1576 17.2196C15.8089 17.143 15.4532 17.1049 15.0965 17.1057C14.8423 17.1021 14.5883 17.1233 14.338 17.169C13.8115 17.3093 13.3214 17.5647 12.9018 17.9174C12.1295 18.5781 11.1632 18.9589 10.1549 19C10.1052 19 10.0513 18.9874 10.0036 18.9874H9.87825C8.87342 18.9485 7.91139 18.5634 7.14996 17.8953C6.73536 17.5425 6.2497 17.2867 5.72727 17.1458C5.47166 17.1069 5.21374 17.0858 4.95531 17.0825C4.59866 17.0879 4.24348 17.1303 3.89529 17.209C3.74737 17.2445 3.59642 17.2653 3.44455 17.2712C3.21912 17.2882 3.01406 17.1386 2.95754 16.916C2.9078 16.7537 2.88397 16.586 2.84667 16.4353C2.81754 16.2699 2.77135 16.1081 2.70885 15.9525C1.11001 15.7638 0.249977 15.4075 0.051029 14.9131C0.021758 14.8536 0.00449442 14.7888 0.000255778 14.7223C-0.00704543 14.5096 0.142745 14.3246 0.349452 14.2912C2.12964 13.8505 3.60617 12.5908 4.34293 10.8843L4.35225 10.8579C4.49757 10.6417 4.53585 10.369 4.45587 10.12C4.29422 9.75213 3.71914 9.56239 3.34715 9.43484C3.24804 9.40804 3.15133 9.37278 3.05805 9.32943C2.13584 8.96048 2.01046 8.54094 2.06124 8.25C2.2082 7.83627 2.60335 7.56856 3.03525 7.59011C3.1447 7.58956 3.25317 7.61105 3.3544 7.65336C3.64025 7.80263 3.95373 7.88918 4.27454 7.90741C4.40992 7.9115 4.54397 7.87914 4.66311 7.81359L4.62062 7.3308C4.42776 5.96129 4.51275 4.5661 4.87035 3.23129C5.71122 1.24738 7.64603 -0.0240252 9.76945 0.0119852L10.1166 0.000389741H10.1673C12.304 -0.0255935 14.2493 1.24957 15.1089 3.23973Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.spotify_link != '' %}
    <li class="spotify">
      <a href="{{ settings.spotify_link }}" aria-label="{{ shop.name }} on Spotify" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9153 8.86522C12.6919 6.95091 7.3749 6.77489 4.29777 7.70882C3.80364 7.85869 3.28109 7.57974 3.13135 7.08561C2.9816 6.59124 3.26031 6.06904 3.7548 5.91882C7.28713 4.84661 13.1591 5.05368 16.87 7.25649C17.3145 7.52039 17.4603 8.09441 17.1968 8.53815C16.9331 8.9826 16.3586 9.12912 15.9153 8.86522ZM15.8097 11.7006C15.5837 12.0675 15.1039 12.1825 14.7374 11.9573C12.05 10.3053 7.95214 9.82685 4.77279 10.7919C4.36046 10.9165 3.92496 10.684 3.79982 10.2725C3.67551 9.86017 3.90812 9.4255 4.31962 9.30012C7.95166 8.19806 12.4666 8.73183 15.5532 10.6287C15.9197 10.8544 16.035 11.3344 15.8097 11.7006ZM14.5861 14.4235C14.4065 14.7181 14.0227 14.8106 13.7292 14.631C11.3808 13.1957 8.42513 12.8715 4.94426 13.6667C4.60884 13.7436 4.2746 13.5333 4.19806 13.198C4.12116 12.8626 4.33061 12.5283 4.66675 12.4518C8.476 11.5809 11.7436 11.9557 14.3794 13.5664C14.6733 13.7459 14.7658 14.1298 14.5861 14.4235ZM10.0001 0C4.47724 0 0 4.47703 0 9.99988C0 15.5231 4.47724 20 10.0001 20C15.523 20 20 15.5231 20 9.99988C20 4.47703 15.523 0 10.0001 0Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.tiktok_link != '' %}
    <li class="tiktok">
      <a href="{{ settings.tiktok_link }}" aria-label="{{ shop.name }} on TikTok" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5443 0H14.0703C14.0703 0 13.8691 4.38828 18.9569 4.70994V8.0988C18.9569 8.0988 16.2355 8.25962 14.0703 6.65135L14.1058 13.6588C14.1058 14.9135 13.7224 16.1399 13.0042 17.183C12.286 18.226 11.2653 19.0388 10.0711 19.5184C8.87699 19.998 7.56315 20.1229 6.29587 19.8773C5.02859 19.6317 3.86484 19.0266 2.95189 18.1386C2.03894 17.2507 1.41783 16.1197 1.16715 14.8889C0.916477 13.658 1.04751 12.3827 1.54366 11.2242C2.03982 10.0657 2.8788 9.07612 3.95443 8.38073C5.03006 7.68533 6.29398 7.31536 7.58626 7.31764H8.49734V10.7984C7.90288 10.6196 7.26547 10.6273 6.67581 10.8205C6.08615 11.0138 5.57429 11.3826 5.21306 11.8746C4.85183 12.3667 4.65963 12.9568 4.66383 13.561C4.66802 14.1652 4.86839 14.7527 5.23642 15.24C5.60445 15.7272 6.12139 16.0894 6.71368 16.2749C7.30597 16.4603 7.94343 16.4597 8.53534 16.2731C9.12726 16.0865 9.64348 15.7234 10.0105 15.2355C10.3776 14.7476 10.5768 14.1596 10.5798 13.5554L10.5443 0Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

   {% if settings.tumblr_link != '' %}
    <li class="tumblr">
      <a href="{{ settings.tumblr_link }}" aria-label="{{ shop.name }} on Tumblr" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.48438 8.24874H6.32259V14.4747C6.32259 15.226 6.4066 15.8436 6.57463 16.3275C6.76211 16.7726 7.05372 17.168 7.44946 17.5138C7.83481 17.8693 8.34375 18.1609 8.97628 18.3886C9.57896 18.5962 10.2657 18.7 11.0364 18.7C11.7085 18.7 12.3361 18.6257 12.9193 18.4772C13.4234 18.3785 14.0806 18.1366 14.8909 17.7512V14.9642C14.0709 15.5273 13.221 15.8089 12.3413 15.8089C11.9067 15.8089 11.4717 15.6953 11.0364 15.4683C10.7795 15.3003 10.5868 15.068 10.4583 14.7715C10.3597 14.4452 10.3104 13.788 10.3104 12.8V8.24874H14.3128V5.46174H10.3104V1H7.90877C7.82962 1.84012 7.63695 2.58618 7.33074 3.23817C7.02453 3.87069 6.63918 4.37477 6.17468 4.75039C5.69071 5.20516 5.12728 5.53115 4.48438 5.72837V8.24874Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.twitch_link != '' %}
    <li class="twitch">
      <a href="{{ settings.twitch_link }}" aria-label="{{ shop.name }} on Twitch" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.78261 0L1.25 3.57143V16.4286H5.48913V20L9.02174 16.4286H11.8478L18.2065 10V0H4.78261ZM16.7935 9.28571L13.9674 12.1429H11.1413L8.66848 14.6429V12.1429H5.48913V1.42857H16.7935V9.28571Z" fill="currentColor"/>
          <path d="M14.6739 3.92856H13.2609V8.21427H14.6739V3.92856Z" fill="currentColor"/>
          <path d="M10.788 3.92856H9.375V8.21427H10.788V3.92856Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.x_link != '' %}
    <li class="x">
      <a href="{{ settings.x_link }}" aria-label="{{ shop.name }} on X" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.9027167,8.46428688 L19.3481667,0 L17.5838333,0 L11.11895,7.34942135 L5.95546667,0 L0,0 L7.8082,11.1136267 L0,19.9897311 L1.76443333,19.9897311 L8.59151667,12.2284923 L14.0445333,19.9897311 L20,19.9897311 L11.9022833,8.46428688 L11.9027167,8.46428688 Z M9.48608333,11.2115403 L8.69495,10.1048737 L2.40018333,1.29901222 L5.11025,1.29901222 L10.1902,8.40562347 L10.9813333,9.51229014 L17.5846667,18.7497963 L14.8746,18.7497963 L9.48608333,11.2119641 L9.48608333,11.2115403 Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.vimeo_link != '' %}
    <li class="vimeo">
      <a href="{{ settings.vimeo_link }}" aria-label="{{ shop.name }} on Vimeo" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.214867 6.81403L1.11387 8.01703C1.94653 7.3977 2.4492 7.08803 2.62187 7.08803C3.28187 7.08803 3.8962 8.13903 4.46487 10.241L5.21087 13.067C5.55553 14.3724 5.82453 15.3754 6.01787 16.076C6.7692 18.178 7.71353 19.229 8.85087 19.229C10.6589 19.229 12.8525 17.4924 15.4319 14.019C17.9605 10.7184 19.2705 8.10837 19.3619 6.18903V5.85403C19.3619 3.51803 18.4275 2.3197 16.5589 2.25903H16.3459C13.8372 2.25903 12.1109 3.7977 11.1669 6.87503C11.7155 6.6417 12.1929 6.52503 12.5989 6.52503C13.4622 6.52503 13.8939 6.97203 13.8939 7.86603C13.8939 7.97803 13.8889 8.0947 13.8789 8.21603C13.8182 8.93737 13.3915 9.92237 12.5989 11.171C11.7862 12.481 11.1819 13.136 10.7859 13.136C10.2579 13.136 9.79087 12.1407 9.38487 10.15C9.26287 9.6827 9.00387 8.1747 8.60787 5.62603C8.4352 4.52937 8.1152 3.71703 7.64787 3.18903C7.24187 2.7317 6.7342 2.49803 6.12487 2.48803C6.04353 2.48803 5.9572 2.49303 5.86587 2.50303C5.22587 2.5637 4.2762 3.1477 3.01687 4.25503C2.36687 4.86437 1.43253 5.71737 0.213867 6.81403H0.214867Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.whatsapp_link != '' %}
    <li class="whatsapp">
      <a href="{{ settings.whatsapp_link }}" aria-label="{{ shop.name }} on WhatsApp" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.0419 0C4.5529 0 0.0858064 4.30258 0.083871 9.59032C0.0825806 11.2813 0.541936 12.9316 1.4129 14.3852L0 19.3548L5.27935 18.0213C6.74788 18.7895 8.38076 19.1902 10.0381 19.189H10.0419C15.531 19.189 19.9981 14.8858 20 9.59806C20.0013 7.03677 18.9665 4.62581 17.0858 2.81355C15.2058 1.00065 12.7058 0.000645161 10.0419 0ZM10.0419 17.569H10.0387C8.55355 17.569 7.09677 17.1845 5.82581 16.4581L5.52258 16.2852L2.39097 17.0761L3.2271 14.1342L3.03032 13.8329C2.20381 12.5724 1.76383 11.0977 1.76452 9.59032C1.76645 5.19484 5.48 1.62 10.0452 1.62C12.2555 1.62065 14.3335 2.45097 15.8968 3.95742C17.46 5.46387 18.32 7.4671 18.3187 9.59742C18.3168 13.9929 14.6039 17.569 10.0413 17.569H10.0419ZM14.5819 11.5981C14.3329 11.4787 13.1097 10.8987 12.8813 10.8181C12.6535 10.7387 12.4877 10.6974 12.3219 10.9374C12.1568 11.1774 11.6794 11.7174 11.5348 11.8768C11.389 12.0368 11.2439 12.0561 10.9948 11.9368C10.7458 11.8168 9.94387 11.5639 8.99419 10.7471C8.25419 10.1123 7.75484 9.32774 7.60968 9.0871C7.46452 8.84774 7.59419 8.71806 7.71871 8.59871C7.83032 8.49226 7.96774 8.31936 8.09161 8.17935C8.21548 8.03936 8.25677 7.93935 8.34064 7.77935C8.42323 7.62 8.38194 7.47935 8.31936 7.36C8.25677 7.23935 7.76 6.06 7.55161 5.58064C7.35032 5.11355 7.14516 5.17613 6.99226 5.16839C6.8471 5.16194 6.68193 5.16 6.51484 5.16C6.35032 5.16 6.08 5.22 5.85161 5.46C5.62387 5.7 4.98064 6.27935 4.98064 7.45871C4.98064 8.63871 5.87226 9.77806 5.99677 9.93806C6.12129 10.0974 7.75161 12.5187 10.2477 13.5574C10.8413 13.8032 11.3045 13.951 11.6665 14.0619C12.2626 14.2445 12.8052 14.2181 13.2335 14.1568C13.711 14.0877 14.7058 13.5774 14.9123 13.0181C15.12 12.4587 15.12 11.9787 15.0581 11.8787C14.9974 11.7787 14.831 11.7187 14.5819 11.5981Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  {% endif %}

  {% if settings.youtube_link != '' %}
    <li class="youtube">
      <a href="{{ settings.youtube_link }}" aria-label="{{ shop.name }} on YouTube" rel="me" target="_blank">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g><path d="M10.0207 17.012H10.0007C9.93865 17.012 3.73565 17 2.17065 16.575C1.31007 16.3432 0.638002 15.6707 0.406653 14.81C0.125231 13.2224 -0.0106662 11.6123 0.000652814 10C-0.00661805 8.38501 0.132956 6.77271 0.417653 5.183C0.65536 4.32151 1.32448 3.64595 2.18365 3.4C3.70565 3 9.73765 3 9.99365 3H10.0147C10.0777 3 16.2967 3.012 17.8457 3.437C18.7044 3.67001 19.3751 4.3411 19.6077 5.2C19.898 6.79354 20.0343 8.41134 20.0147 10.031C20.0217 11.644 19.8818 13.2543 19.5967 14.842C19.3623 15.7016 18.6898 16.3726 17.8297 16.605C16.3097 17.008 10.2767 17.012 10.0207 17.012ZM8.02065 7.005L8.01565 13.005L13.2277 10.005L8.02065 7.005Z" fill="currentColor"/></g>
        </svg>
      </a>
    </li>
  {% endif %}
{%- endcapture -%}

{% assign social_icons = social_icons | strip %}

{% if social_icons != '' %}
  <ul class="social-icons">
    {{ social_icons }}
  </ul>
{% endif %}
